@font-face {
  font-family: MyriadPro-Regular;
  src: url("/app/fonts/MyriadPro-Regular.otf") format("opentype"); }
.wrapper {
  width: 1024px;
  margin: 0 auto; }
  .wrapper h2 {
    text-transform: uppercase;
    font-family: MyriadPro-Regular;
    font-weight: bold;
    font-size: 28px; }
  .wrapper .gallery_wrap {
    background-color: #EEF2F5;
    padding: 20px 25px 0 25px; }
    .wrapper .gallery_wrap h2 {
      color: #999999;
      margin: 0; }
      .wrapper .gallery_wrap h2 span {
        color: #21B8C6; }

.gallery_overlay {
  height: 768px;
  position: relative; }

.gallery {
  margin-top: 15px;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  height: calc(100% - 70px); }
  .gallery .img {
    height: 200px;
    width: 236px;
    background: no-repeat center rgba(0, 0, 0, 0.1);
    background-size: cover;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 0px rgba(194, 205, 216, 0.392); }
    .gallery .img:hover {
      cursor: pointer; }
      .gallery .img:hover .img_info {
        opacity: .949;
        -webkit-transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        transition: opacity .5s ease-out; }
  .gallery .file_input {
    background-color: #fff;
    overflow: hidden; }
  .gallery .img:nth-child(9n-8),
  .gallery .img:nth-child(9n-4) {
    width: 482px; }
  .gallery .img:nth-child(9n-3) {
    height: 410px; }

.img_info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: white;
  padding: 0 15px;
  opacity: 0; }

.img_info .comments {
  float: left;
  background: url("/app/imgs/change/comment-icon.png") no-repeat center; }

.social_icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); }

.img_info .likes, .social_icons .likes {
  background: url("/app/imgs/change/like-icon.png") no-repeat center; }

.img_info .dislikes, .social_icons .dislikes {
  background: url("/app/imgs/change/dislike-icon.png") no-repeat center; }

.social_icons .likes, .social_icons .dislikes {
  background-color: #DDE3E7;
  margin-right: 6px;
  margin-top: -8px; }
  .social_icons .likes:hover, .social_icons .dislikes:hover {
    margin-top: 0;
    background-color: #fb302f;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out; }

.social_icons .likes:hover {
  background-color: #64cdd7; }

.img_info > div, .social_icons > div {
  height: 32px;
  width: 35px;
  float: right;
  background-size: cover;
  position: relative;
  padding: 26px; }
  .img_info > div p, .social_icons > div p {
    position: absolute;
    right: 4px;
    top: 9px;
    margin: 0;
    background-color: #fff;
    border-radius: 50%;
    height: 17px;
    min-width: 17px;
    border: 2px solid #a0b0ba;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #21B8C6;
    padding: 0 2px;
    line-height: initial; }

.ui-dialog {
  padding: 0; }

.gallery_overlay .ui-widget-header {
  background: initial;
  border: none; }

.gallery_overlay .ui-widget-overlay {
  position: absolute;
  background-color: white;
  opacity: .7; }

#img_popup {
  display: none;
  padding: 0;
  padding: 0 10px 0 30px; }
  #img_popup > div {
    float: left; }
  #img_popup .popup_img {
    width: 450px;
    height: 100%; }
  #img_popup .imageBox {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%; }
  #img_popup .popup_comments {
    width: calc(100% - 450px);
    padding-left: 30px; }
    #img_popup .popup_comments h3 {
      font-family: MyriadPro-Regular;
      font-size: 24px;
      color: #999999; }
  #img_popup .comments {
    max-height: 442px;
    padding-right: 20px;
    overflow-y: auto; }
  #img_popup form {
    border-top: 2px solid #cccccc; }
    #img_popup form > div {
      position: relative; }
    #img_popup form input {
      width: 100%;
      margin-top: 8px;
      border: 2px solid #cccccc;
      font-size: 14px;
      color: #607583; }
      #img_popup form input[type="text"] {
        border: none;
        border-bottom: 2px solid #cccccc; }
      #img_popup form input[type="textarea"] {
        min-height: 40px; }
    #img_popup form i {
      position: absolute;
      top: 9px;
      right: 0;
      padding: 12px;
      background: lightblue;
      color: white;
      background-color: #21B8C6; }
      #img_popup form i:hover {
        cursor: pointer;
        color: #cccccc;
        -webkit-transition: color .2s ease-out;
        -moz-transition: color .2s ease-out;
        -o-transition: color .2s ease-out;
        transition: color .2s ease-out; }
    #img_popup form :focus {
      outline: none; }
  #img_popup .author, #img_popup .date {
    color: #95a7b3;
    font-size: 11px;
    float: left;
    max-width: 50%;
    word-break: break-all;
    font-family: Myriad Pro Regular;
    margin: 0; }
  #img_popup .date {
    float: right; }
  #img_popup .text {
    overflow: hidden;
    width: 100%;
    padding: 10px 8px;
    border: 2px solid #f0f3f6;
    border-radius: 3px;
    font-size: 14px;
    color: #607583;
    font-family: Myriad Pro Regular; }

.gallery::-webkit-scrollbar {
  height: 10px; }

.gallery::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 10px; }

.gallery::-webkit-scrollbar-thumb {
  background-color: #21B8C6;
  border-radius: 10px; }

.ui-dialog-titlebar {
  display: none; }

#img_popup .comments::-webkit-scrollbar {
  width: 5px; }

#img_popup .comments::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 10px; }

#img_popup .comments::-webkit-scrollbar-thumb {
  background-color: #21B8C6;
  border-radius: 10px; }

.ui-dialog .dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  color: #21B8C6;
  font-size: 22px;
  padding: 5px 7px; }
  .ui-dialog .dialog-titlebar-close:hover {
    cursor: pointer; }

::-webkit-input-placeholder {
  color: #95a7b3;
  font-size: 11px; }

/*# sourceMappingURL=index.css.map */
